#folders {
	padding: 1rem;

	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	overflow-y: auto;
}

.folder {
	cursor: pointer;

	padding: 0.75rem 1rem;
	border-radius: 8px;
	width: 100%;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	background-color: var(--color3);
	border: none;

	> svg { fill: var(--color1); }
	> * { pointer-events: none; }

	&:hover {
		background-color: var(--color1);

		> p { color: var(--color7) }
		> svg { fill: var(--color7); }
	}

	&.selected {
		background-color: var(--color1);
		box-shadow: 0 0 0 2px var(--color6);

		> p { color: var(--color7) }
		> svg { fill: var(--color7); }
	}

	transition: 100ms;
}

#add-folder {
	cursor: pointer;

	background-color: var(--color3);
	> svg { fill: var(--color1); }

	&:hover {
		background-color: var(--color1);
		> svg { fill: var(--color7); }
	}

	&:active {
		
	}

	transition: 100ms;
}