#upload {
	cursor: pointer;

	width: 10vmin;
	height: 10vmin;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	z-index: 100;

	background-color: white;
	border-radius: 50%;
	border: none;

	display: flex;
	justify-content: center;
	align-items: center;

	> svg {
		fill: black;
		width: 50%;
		height: 50%;
	}
	
	&:hover {
		background-color: #007acc;
		> svg { fill: white }
	}

	&:active {
		rotate: 90deg;
	}

	transition: ease-in-out 200ms;
}

#images {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;

	> img {
		aspect-ratio: 0.75;

		width: 100%;
		object-fit: cover;

		background-color: #2d2d30;
		border-radius: 1rem;

		&:hover {
			filter: brightness(0.75);
		}

		transition: 150ms;
	}	
}