#header {
	grid-area: header;

	padding: 2rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	border-bottom: 3px dotted var(--color3);

	> #search {
		border: 2px var(--color1);
		border-radius: 1rem;
		padding: 1rem 1.5rem;

		width: 100%;

		background-color: var(--color3);
		color: var(--color6);
		outline: none;

		box-shadow: 0 0 0 2px transparent;

		&:hover {
			background-color: var(--color5);
		}

		&:focus {
			box-shadow: 0 0 0 2px var(--color1);
		}

		transition: 100ms;
	}
}

#sidebar {
	grid-area: sidebar;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

#content {
	grid-area: content;

	padding: 1rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	overflow-y: auto;
}