@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Poppins, monospace;
	color: white;
}

body {
	user-select: none;

	display: grid;
	grid-template-areas: 
		"sidebar header" 
		"sidebar content";

	grid-template-columns: minmax(200px, 15vw) 1fr;
	grid-template-rows: 100px 1fr;

	overflow: hidden;
	height: 100vh;
	background: radial-gradient(circle at center,  	#252526 0, #1e1e1e 100%);
}

input[type="file"] {
	display: none;
}
