@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

[data-theme="light"] {
	--color1: #1f79ff;
	--color2: #9595a2;
	--color3: #caccdc;
	--color4: #e4e5f1;
	--color5: #fafafa;
	--color6: #000000;
	--color7: #ffffff;

	* { color: var(--color6); }

	color-scheme: light;
}

[data-theme="dark"] {
	--color1: #0095ff;
	--color2: #2d2d30;
	--color3: #252526;
	--color4: #1e1e1e;
	--color5: #3e3e42;
	--color6: #ffffff;
	--color7: #000000;

	* { color: var(--color6); }

	color-scheme: dark;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Poppins, monospace;
}

body {
	user-select: none;

	display: grid;
	grid-template-areas: 
		"sidebar header" 
		"sidebar content";

	grid-template-columns: minmax(200px, 20vw) 1fr;
	grid-template-rows: 100px 1fr;

	overflow: hidden;
	height: 100vh;
	background-color: var(--color4);
}

#theme-toggle {
	cursor: pointer;

	width: 3rem;
	aspect-ratio: 1;
	border: none;

	background-color: var(--color3);
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	&:active {
		rotate: 45deg;
		
		transition: 50ms ease-out;
	}

	transition: 100ms;
}

input[type="file"] {
	display: none;
}

.hidden {
	display: none !important;
}